SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback
SPOTIFY_USERNAME=your_spotify_username_here
SPOTIFY_SOURCE_URL=https://open.spotify.com/playlist/...
SPOTIFY_TARGET_URL=https://open.spotify.com/playlist/...
